@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  padding-bottom: 0.5em;
}

/* header { 
  background: #307d99;
  text-align: center;
  margin-bottom: 0;
  padding: -1em;
  color: white;
  font-weight: bold;
} */

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: yellowgreen;
}

.header-container a {
  text-decoration: none;
}

.sreach-container {
  background: mediumslateblue;
  margin: 0;
  padding-bottom: 0em;
  display: block;
  color: white;
  text-align: center;
}

section {
  text-align: center;
  font-weight: normal;
  background-color: white;
}

.form-container {
  background-color: white;
  text-decoration: none;
}

.form-container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

input[type="text"] {
  border: 1px solid #707070;
  width: 30%;
  padding: 0.95em;
  box-sizing: border-box;
  border-radius: 0.5em;
  margin-top: 0;
}

input[type="submit"] {
  background-color: #f89104;
  /* margin: 2em; */
  border: none;
  width: 10%;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  border-radius: 0.5em;
  font-size: 0.9em;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #ca7704;
}

h4 {
  margin: 0;
  padding-bottom: 2.6em;
  background-color: red;
  color: black;
}

h3 {
  margin: 0;
  padding-top: 0;
  background-color: red;
  color: black;
}

h3,
p {
  background-color: red;
}

.responsive {
  width: 100%;
  height: auto;
  min-width: 1000px;
  max-width: 1200px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.category {
  padding: 0;
  float: right;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: aqua;
}

.column-3 {
  width: 33%;
  display: inline-block;
}

.adress-lorem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: violet;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: black;
}

h2,
p {
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
}

#footer {
  margin-top: 20px;
}
.footer-section {
  float: left;
  width: 33%;
  background-color: red;
}

.link {
  margin-top: 20px;
  color: black;
  background-color: white;
}

.links {
  text-align: left;
  padding: 0;
  margin: 0;
  float: left;
  background-color: aqua;
}

h5 {
  background-color: rgb(114, 26, 92);
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

.info {
  background-color: white;
  text-align: center;
  margin-top: 1em;
}

.info,
br {
  background-color: white;
  color: black;
}

.email {
  background-color: white;
  color: black;
  text-align: right;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

img {
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
