@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  padding-bottom: 0.5em;
}

/* header { 
  background: #307d99;
  text-align: center;
  margin-bottom: 0;
  padding: -1em;
  color: white;
  font-weight: bold;
} */

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 2em 2em 2em;
}

.header-container a {
  text-decoration: none;
}

.sreach-container {
  background: white;
  margin: 0;
  padding-bottom: 0em;
  display: block;
  color: white;
  text-align: center;
}

section {
  text-align: center;
  font-weight: normal;
  background-color: #307d99;
}

.form-container {
  background-color: #307d99;
  text-decoration: none;
}

.form-container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

input[type="text"] {
  border: 1px solid #707070;
  width: 30%;
  padding: 0.95em;
  box-sizing: border-box;
  border-radius: 0.5em;
  margin-top: 0;
}

input[type="submit"] {
  background-color: #f89104;
  /* margin: 2em; */
  border: none;
  width: 10%;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  border-radius: 0.5em;
  font-size: 0.9em;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #ca7704;
}

h4 {
  margin: 0;
  padding-top: 3em;
  background-color: #307d99;
  color: white;
}

h3 {
  margin: 0;
  padding-top: 2em;
  background-color: #307d99;
  color: white;
}

.responsive {
  width: 100%;
  height: auto;
  min-width: 1000px;
  max-width: 1200px;
}

.category {
  padding: 0;
}

.lorem {
  padding: 1em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h2,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.links {
  margin-top: 0;
}
